body {
    background-color: rgb(191, 226, 234);
    display: grid;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
}

header,
footer {
    background-color: rgb(64, 178, 165);
    text-align: center;
    padding: 20px;
    border-radius: 4px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

aside {
    background-color: rgb(124, 200, 110);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    background-color: rgb(237, 169, 79);
    text-align: center;
    padding: 25px;
    padding-top: 90px;
    border-radius: 4px;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 10px;
}

.images > div {
    background-color: rgb(244, 211, 108);
    border-radius: 4px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
